.body-div {
    background-color: #00a6ed;
}

.flex-container {
    background-color: #ffffff;
    border-radius: 5px;
}

.background-color-1 {
    background-color: #deceda;
}

.background-color-2 {
    background-color: #82edbb;
}
